.text-right {
    padding-right: 3em;
}

body {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAIAAABLMMCEAAAAJklEQVQIW2NgYGAQggEGOEDmINgQlqioKBZRTDY2c9GAOBhgFwUAK5UD3J7tt1sAAAAASUVORK5CYII=')
}

.jumbotron,
.well {
    background: rgba(50, 50, 50, 0.3);
}

.well {
    border: solid 0.5px lightblue;
}

h2,
p {
    color: azure;
}

h2 {
    font-family: 'Roboto Mono';
}


/*
#quoteBody {
    font-family: 'Comfortaa', cursive, serif;
}
*/

p {
    font-family: 'Comfortaa', cursive, serif;
}

.blockquote-reverse {
    border-right: 3px solid azure !important;
}